<h1>Link utiles</h1>

<%= link_to "Hola",  Prop.first %>

<ul>
  <div class="row mt-5 justify-content-center">
    <div class="card card-custom mx-2 mb-3">
      <div class="card-header">
        Lista de propiedades
      </div>
      <div class="card-body">
        <%= link_to image_tag("casa.jpg", class:"card-img-top"), props_path %>
      </div>
    </div>

    <div class="card card-custom mx-2 mb-3">
      <div class="card-header">
        Añadir propiedad
      </div>
      <div class="card-body">
        <%= link_to image_tag("casa.jpg", class:"card-img-top"), new_prop_path %>
      </div>
    </div>
  </div>
</ul>
