<ul>
	<div class="row mt-5 justify-content-center">
		<div class="card card-custom mx-2 mb-3">
			<%= link_to image_tag(url_for("casa.jpg") , class: "card-img-top", alt: "nombre"),new_usuario_session_path %>
			<div class="card-body">
				<h5 class="card-title">Usuario</h5>
			</div>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<%= link_to image_tag(url_for("casa.jpg") , class: "card-img-top", alt: "nombre"),new_admin_session_path %>
			<div class="card-body">
				<h5 class="card-title">Admin</h5>
			</div>
		</div>
	</div>
</ul>
