<h1><%= t('.title') %></h1>

<table class="table table-bordered table-striped">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">email</th>
		<th scope="col"><%= t('.show') %></th>
	</thead>

	<tbody>
		<%= render @usuarios %>
	</tbody>

</table>
