<h1>Pujas</h1>

<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">Mail del usuario</th>
		<th scope="col">Valor</th>
	</thead>

	<tbody>
		<%= render @pujas %>
	</tbody>

</table>
