<h1><%= t('.title') %></h1>
<ul>

	<div class="row mt-5 justify-content-center">

		<%if usuario_signed_in? || admin_signed_in?%>
			<%= render 'search' %>
		<%end%>

		<%= render @props %>

	</div>
</ul>
