<h1>Lista de solicitudes</h1>

<table class="table table-bordered table-striped">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">Usuario</th>
		<th scope="col">Estado</th>
		<th scope="col">Decisión</th>
	</thead>

	<tbody>
		<%= render @solivips %>
	</tbody>

</table>