<div class="col-12 search-filters">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#todas" role="tab" aria-controls="pills-home" aria-selected="true">Todas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#reservas" role="tab" aria-controls="pills-home" aria-selected="true">Reservas común</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#subastas" role="tab" aria-controls="pills-profile" aria-selected="false">Subastas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#hotsales" role="tab" aria-controls="pills-contact" aria-selected="false">Hot sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#oculto" role="tab" aria-controls="pills-contact" aria-selected="false">Oculto</a>
    </li>
  </ul>
</div>
