<h1>Reservas</h1>

<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">Fecha</th>
		<th scope="col">Propiedad</th>
		<th scope="col">Cliente</th>
	</thead>

	<tbody>
		<%= render @reservas %>
	</tbody>
	
</table>