<div class="card card-custom mx-2 mb-3">
	<%= image_tag url_for(prop.imgprincipal) , :class=>"card-img-top", :alt=>prop.nombre %>
	<div class="card-body">
		<h5 class="card-title"><%= prop.nombre %></h5>
		<p class="card-text"><%= prop.ubicacion %></p>
	</div>
	<div class="card-footer">
		<small class="text-muted"><%= link_to t('.read_more'),prop %></small>
	</div>
</div>
