<h1>Subastas</h1>

<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">Fecha inicio</th>
		<th scope="col">Fecha fin</th>
		<th scope="col">Propiedad</th>
	</thead>

	<tbody>
		<%= render @subs %>
	</tbody>
	
</table>